<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Survey Form</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var socket = io.connect();
			$('#submit').click(function() {
				var name = $('#name').val();
				var location = $('#location').val() || 'boo';
				var language = $('#language').val();
				var comment = $('#comment').val();
				console.log("I am being submitted");
				socket.emit('posting_form', {
					name: name,
					location: location,
					language: language,
					comment: comment});
				return false;
			})
			socket.on('server_response', function (data) {
				$('.div').html("You emitted the following information to the sever: { name: " +data.name+ ", location: " +data.location+ ", language:" +data.language+ ", comment: " +data.comment+" }").addClass('green');
			});
			socket.on('random_number', function(number) {
				console.log(number);
				$('.div').append("<br>Your lucky number emitted by the server is " +number);
			});
		});
	</script>
	<style>
		.green {
			background: green;
			border: solid black 3px;
			display: inline-block;
			margin-bottom: 10px;
			width: 360px;
		}
		.form {
			border: solid black 1px;
			display: inline-block;
			text-align: left;
			width: 350px;
		}
	</style>
</head>
<body>
	<div class="div"></div>
	<br>
	<div class="form">
		<form>
			Your Name:
			<input id="name" type="text" name="name"><br>
			Dojo Location:
			<select id="location" name="location">
				<option value="Mountain View">Mountain View</option>
				<option value="Seattle">Seattle</option>
				<option value="Washington D.C.">Washington D.C.</option>
				<option value="Dallas">Dallas</option>
			</select><br>
			Favorite Language:
			<select id="language" name="language">
				<option value="JavaScript">JavaScript</option>
				<option value="Python">Python</option>
				<option value="HTML">HTML</option>
			</select><br>
			Comment (optional):
			<input id="comment" type="text" name="comment"><br>
			<input id="submit" type="submit" name="submit" value="Submit">
		</form>
	</div>
</body>
</html>
